In [20]:
s ="""
pienotpi
AshishIITBHU
unicoDErn
Varun_Kolanu
praneethchandra123
AKS_95461
Rudra_1232
coderdev04
Ayush2272
Abhi8803
jorav_25
aditya.jyoti.cse22
fireheart17
ipriyanshi127
byzantine2004
JAY19
karan_iitbhu
agastaya23
tapish_32
mohakkalra1708
abhinav9432
Chirag12346
meet_the_horizon
gvd_112358
raoyadav
vishnu_maurya
paramparsewar
saiadarsh_1
RamaRakesh
murmuanita734
Vraj123
Harshitop4
Antim29
bhanu2306
Manya_1112
akashforce
amy_004
aryan0504
Prashant_ksy
antonio_23
nathshankar123
nikhiltotla
AlihoR_H
Abhi8803
deepanshusau
iedfa
Vraj123
swapash
Tethet
amy_004
saiadarsh_1
Manya_1112
aryan0504
Harshitop4
karan_iitbhu
paramparsewar
lucario_556
RamaRakesh
abhicoder_0""".split()

In [30]:
import pandas as pd
import numpy as np

import requests
BASE_URL = r'https://codeforces.com/api/'
METHOD = r'user.ratedList'
r = requests.get(
    BASE_URL + '/' + METHOD,
    {
        # "handles": ";".join(s),
        "contestId": "1849",
    }
)

print(r.status_code)

s = r.json()

users = s['result']

200

In [41]:
rated_users = [user for user in users if "rating" in user]

df = pd.DataFrame(rated_users)
# df[df["rating"] != np.NaN].sort_values("rating",ascending=False)[["handle","rating"]]

# len(rated_users)
df[(100 < df['rating']) & (df["rating"] < 1800)][["handle","rating"]]

             handle  rating
1319        ab_fuit    1799
1320     daominhtam    1799
1321           ekys    1799
1322           Nolv    1798
1323      PKFR4ever    1798
...             ...     ...
27343    Foysal_cpp     189
27344    Nada_Badri     169
27345     Babul_sec     167
27346     shark1992     112
27347  adibzawad_07     102

[26029 rows x 2 columns]

In [27]:
class User:
    def __init__(self, **kwags):
        self.data = {'country': None,
                     'lastOnlineTimeSeconds': None,
                     'city': None,
                     'rating': None,
                     'friendOfCount': None,
                     'titlePhoto': None,
                     'handle': None,
                     'avatar': None,
                     'firstName': None,
                     'contribution': None,
                     'organization': None,
                     'rank': None,
                     'maxRating': None,
                     'registrationTimeSeconds': None,
                     'maxRank': None}
        for i, j in kwags:
            if i not in self.data:
                raise KeyError(f"Extra property {i} not found")
            self.data[i] = j

In [57]:
usernames = [user["handle"] for user in users if (user["lastOnlineTimeSeconds"] - 1690468200) > 0]

In [58]:
handl = " ".join(usernames)
with open("handles.txt",'w') as f: f.write(handl)